# Ignore large model files but allow DVC pointer files
models/*.h5
!models/*.h5.dvc

# Ignore dataset files but allow DVC pointer files
data/*
!data.dvc

# Ignore DVC cache
.dvc/cache/

# Python / notebook junk
__pycache__/
.ipynb_checkpoints/
.env